    @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    :root {
        --bio-color: #159539;
    }
    html {
        max-width: 100%;
    }
    form#search {
        vertical-align: middle;
    }
    ul {
        padding-top: 10px;
        list-style: none;
    }
    li a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: black;
    }

    li a:before {
        content: "🌱";
        padding-right: 5px;
      }

    li a:hover{
        color: var(--bio-color);
    }

    input {
        margin-top: 13px;
        border-radius: 10px;
        height:30px;
        width:300px;
        border: 0px;
        font-size: 16px;
        padding-left: 10px;
    }
    
    /* styles for the refresh button */
    .navigation-bar {
        display: flex;
        justify-content: space-between;
        background-color: var(--bio-color);
        width: auto;
        position: relative;
        max-width: 1344px;
        padding: none;
        border-radius: 10px;
    }

    nav-element {
        vertical-align: middle;
    }

    button {
        border-radius: 10px;
        font-weight: 500;
        vertical-align: middle;
        background-color: var(--bio-color);
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        border: none;
    }

    button:hover {
        color: #FFE400;
    }

    #search {
        margin-bottom: 0em;
    }

    #source {
        font-style: italic;
    }

    /* styles for the search bar and home button */

    label {
        text-transform: uppercase;
        color: white;
    }

    /* styles for the rest of the page */
    body {
        font-family: 'PT Serif', serif;
        ;
        color: #333;
        max-width: 800px;
        margin: auto;
    }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin: 30px 0;
        margin-bottom: 10px;
    }
    h1::before { 
        content: "📰 ";
        font-weight: 300;
    }
    .subtitle {
        font-size: 16px;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        vertical-align: center;
    }
    h1::after { 
        content: " 🌳";
        font-weight: 100;
    }

    h1 a {
        color: #333;
        text-decoration: none; 
    }

    h1 a:hover {
        color: var(--bio-color);
        text-decoration: none; 
    }

    h2 {
        font-size: 1.5em;
        margin: 20px 0;
    }

    h2 a {
        color: #333;
        text-decoration: none; 
    }

    h2 a:hover {
        color: var(--bio-color);
        text-decoration: none; 
    }

    .article {
        margin-bottom: 30px;
    }

    .article p {
        font-size: 0.9em;
    }

    hr {
        border: 0;
        border-top: 1px solid #ccc;
    }