<html>
  <head>
    <title>RSS Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')
      }}">
  </head>
  <body>

    <h1><a href="/">Bio Flux</a></h1>
    <div class="subtitle">L'info en continue de l'agriculture bio</div>

    <div class="navigation-bar">
      <a href="/refresh"><button class="nav-element" id="refresh" action="/refresh">🔄</button></a>

      <form action="/search" class="nav-element" id="search">
        <span>
          <input type="text" placeholder="🔍" name="search">
        </span>
        <!-- <button type="submit" class="search">🔎</button> -->
      </form>
      <a href="/"><button class="nav-element" id="home">🏠</button></a>
    </div>

    <h2>Qu'est-ce qu'un flux RSS ?</h2>
    <p></p>
    <h2>Sources des Flux RSS</h2>
    {% for feeder in entries %}
    <ul>
      <li class="feeders">
        <p><a href="{{ feeder.link }}">{{ feeder.title }}</a></p>
        <p>{{ feeder.description }}</p>
      </li>
    </ul>
    {% endfor %}
  </body>
</html>