<html>
  <head>
    <title>RSS Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')
      }}">
  </head>
  <body>

    <h1><a href="/">Bio Flux</a></h1>

    <div class="navigation-bar">
      <button class="nav-element" id="refresh" action="/refresh">🔄</button>

      <form action="/search" class="nav-element" id="search">
        <label>Rechercher</label>
        <span>
          <input type="text" placeholder="..." name="search">
        </span>
        <button type="submit" class="search">🔎</button>
      </form>
      <button class="nav-element" id="home">🏠</button>
    </div>
    {% for entry in entries %}
    <div class="article">
      <h2><a href='{{ entry.link }}'>{{ entry.title }}</a></h2>
      <p id="summary">{{ entry.summary }}</p>
      <p id="source">{{ entry.name }} - {{ entry.published }}</p>
    </div>
    {% endfor %}
  </body>
</html>
